h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20pt;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    background-color: rgb(250, 250, 250, .5);
}

nav {
    text-align: right;
    padding: 30px;
}

#logo-main {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 100px;
}

body {
    background: url(/assets/20180821-\ Hoh\ Rainforest48e-3.jpg);
    background-size: 1700px 980px;
}

a {
    color: rgb(0, 0, 0, .6);
    padding: 20px;
}